<Files *>
	Order Deny,Allow
	Deny from all
	Allow from localhost
</Files>
<FilesMatch ".(zip|7z|fds||nes|unif|unf|smc|fig|sfc|gd3|gd7|dx2|bsx|swc|z64|n64|nds|gba|gb||z64|v64|sg)$">
Order Deny,Allow
    Allow from all
</FilesMatch>
RemoveHandler .exe .php .php3 .phtml .cgi .fcgi .pl .fpl .shtml